name: Deploy to EC2 via Self-hosted Runner

on:
  push:
    branches: [ test ]

jobs:
  deploy:
    runs-on: self-hosted
    timeout-minutes: 15
    concurrency:
      group: deploy-prod
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

    
      - name: Run deployment script on VM
        run: |
          sudo -u ubuntu bash /home/ubuntu/release-timestamp.sh

      - name: Check service status
        run: |
          systemctl status gunicorn --no-pager
          systemctl status celery --no-pager
          systemctl status celery-beat --no-pager    
